.mouseoverRect {
  cursor: pointer;
}
#chart {
  max-width: 680px;
  width: 100%;
}
.node {
  fill: #46abdb;
  cursor: pointer;
}

.label, .node text {
  fill: #000;
  font-size: 14px;
}

.label-div {
  width: 100%;
}

.notes {
  font-size: 11px;
  margin-top: 10px;
}

.x-label-notes {
  font-size: 11px;
  fill:  #696969;
  font-style: italic;
}
.label {
  float: left;
  margin-left: 55px;
}

.label p {
    padding: 5px 10px 5px 10px;

}
.linkTextRect{
  opacity: 0;
}
.teacherText {
  font-size: 13px;
  font-style: italic;
  opacity: 0;
}
.teacherText.highlight {
  opacity: 1;
}
.setTransparent{
  opacity: .77;
}
.linkText {
  font-size: 13px !important;
  opacity: 0;
}
.showText{
  opacity: 1;
}


.node.hover {
  fill: #0a4c6a;
}
/*.link {
  fill: none;
  stroke: #696969;
  stroke-opacity: .4;
}*/

.stats-text, #source-div {
  font-weight: 700;
  text-transform: uppercase;
}
.hover {
  stroke-opacity: 1;
}
 

#toggles {
  padding-top: 10px;
  padding-right: 10px;
  float: left;
}

.link {
  stroke: #a2d4ec;
  fill: none;
  cursor: pointer
}
.toggle_button{
    margin-bottom: 30px;
    padding: 5 10 5 10px;
    float: left;
    margin-right: 10px;
    color: #404041;
    cursor: pointer;
}

.toggle_button.active span{
  background-color: #1696d2;
  color: white;
}
.toggle_button span:hover{
  background-color: #231f20;
  color: white;
}

.toggle_button span{
    color:#333;
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size:15px;
    border:solid 1px #e1e1e1;
}

hr {
  width: 100%;
  border: 1px solid #dad9d9;
  margin-bottom: 30px;
  display: block;
}


.raceLabels.highlight {
  font-weight: 700;
}

.linkTextPhone {
  opacity: 0;
  font-size: 13px;
}

.linkTextPhone-stats{
  fill: #696969;
}

.linkTextPhone-race {
  font-size: 12px;
}

.teacherStatsPhoneG {
  font-size: 12px;
  font-style: italic;
  display: none;
}

.linkTextPhone-stats-category-rect {
  fill: #fdbf11;
  opacity: 0;
}

.linkTextPhone-stats-category {
  opacity: 0;
}
.teacherSubText {
  fill: #46abdb;
  font-size: 13px;
  font-style: italic;
  opacity: 0;
}

.teacherSubText.showText {
  opacity: 1;
}

.teacherSubText.highlight {
  fill: #000;
  font-weight: 700;
}
.labelRect {
  fill: #ececec;
}
.label.highlight {
  font-weight: 700;
}
.labelRect.highlight{
  fill: #fdbf11;
}
.node.highlight {
  fill: #fdbf11 !important;
}
.node.highlight text {
  fill: #000 !important;
}
.link.highlight {
  stroke: #fdd870 !important;
  fill: none;
}

.linkText.highlight {
  font-weight: 700;
  fill: #000;
}

/*#source-div {
  float: left;
}*/

.description {
  font-size: 14px;
  fill:  #231f20;
  font-weight: 700;
}


#stats-div {
  float: left;
}

#title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}
  #isMobile {
    display: none;
  }
    #isPhone {
    display: none;
  }
    #is675 {
    display: none;
  }
@media screen and (max-width: 655px) {

  #is675 {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  #isMobile {
    display: block;
  }
  .label, .node text{
    font-size: 13px;
  }
  .linkText, .teacherSubText {
    font-size: 11px !important;
  }

}

@media screen and (max-width: 459px) {
    #isPhone {
    display: block;
  }

  .labelRect {
  fill: none;
  }
  .labelRect-phone {
    fill: ;
  }
  hr {
    display: none;
  }
  #stats-div {
    display: none;
  }

  .linkText {
    display: none;
  }

  .teacherStatsPhoneG {
    display: block;
    opacity: 0;
  }


  .linkTextPhone.showText, .teacherStatsPhoneG.showText {
    opacity: 1 !important;
  }
   .linkTextPhone.showText, .teacherStatsPhoneG.showText {
    opacity: 1 !important;
  }
  .linkTextPhone.highlight > text {
    font-weight: 700;
    fill: #000 !important;
    opacity: 1;
  }
    .linkTextPhone.highlight > rect {
      opacity: 1;
    }
  .label, .node text {
    font-size: 12px;
  }

  .teacherSubText.showText, .teacherSubText.highlight {
    opacity: 0;
  }
}