body {
    font-family: Lato, sans-serif;
}

/*SELECT MENU */

select {
/*    background-color: #332d2f !important;
*/    padding: 30px;
    color: #fff;

}

.ui-state-disabled.ui-menu-item {
    display: none !important;
}
.ui-selectmenu-menu {
    height: 300px !important;

}
    .ui-menu-item {
        border-bottom: 1px solid #dcdbdb !important;
        font-size: 16px;
    }
.ui-selectmenu-button.ui-button {
    background: #332d2f !important;
    font-size: 18px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    text-align: center !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

}

.ui-menu .ui-menu-item-wrapper {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.ui-selectmenu-icon .ui-icon .ui-icon-triangle-1-s {
    color: #fff;
}
.ui-widget-header {
    border: 1px solid #dddddd;
    background: #fff !important;
    color: #333333;
    font-weight: bold;
}
    .ui-selectmenu-text {
    font-family: Lato, sans-serif;
        font-size: 18px !important;
        text-align: center;
        color: #fff;
    }

.city-menu-div, .state-menu-div {
    width: 50%;
    float: left;
}
#city-menu {
    display: table;
    margin: 0 auto;
}

#state-menu {
    display: table;
    margin: 0 auto;
}




/*SELECT MENU END */


body {
    max-width: 690px;
}

#switch-div {
    max-width: 609px;
    margin: 0 auto;
}

#graph-container {
    max-width: 680px;
}

.long-name {
    line-height: 14px !important;
    margin-left: 0px !important;

}
.switch-label.alaskan {
    margin-left: 5px;
}

.switch-label.hawaiian {
    margin-left: 20px;
}
.urban-switch.large {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    border: none;
    color: #ffffff;
    display: inline-block;
    line-height: 26px;
    text-align: right;
    border-radius: 10px;
    margin-top: 18px;
    margin-right: 7px;
    margin-left: 24px;
}

.ui-icon {
    background: url(../img/urban-select.png) no-repeat right !important

}

hr {
  width: 100%;
  border: 1px solid #e6e7e8;
  margin: 30px 0;
  display: block;
}

.data-label {
    font-size: 12px;
    font-weight: 600;
}
.sideline {
    stroke: #000;
    stroke-width: .94;
}

.sideline-label {
    font-size: 10.6px;
}
.sideline-label-text {
    font-size: 12px;
}

.header {
    font-size: 18px;
    font-weight: 700;
}

.stateText, .cityText {
    font-size: 16px;
}

.circle.highlight, .circle.selected {
    stroke: #000;
    stroke-width: 3px;
}
.cityText.no-city {
    font-size: 16px;
    fill: #9c9c9c;
}
.city-line {
    stroke: #fbbe15;
    stroke-width: 1px;
    cursor: pointer;
}

.city-circle-left, .city-circle-right {
    fill: #fbbe15;
}

.state-circle-left, .state-circle-right {
    fill: #1896d2;
}
.highlight, .selected {
    stroke: #000 !important;
    stroke-width: 3px !important;
}
.state-line {
    stroke: #1896d2;
    stroke-width: 1px;
    cursor: pointer;
}

.switch-label {
    font-size: 13px;
    color: #353535;
    float: left;
    vertical-align: middle;
}
.switch.large.on {
    background-position: -4px -.5px;
    background-color: #1696d2;
}

.switch.large.off {
    background-position: -39.5px -.5px;
    background-color: #696969;
}

.switch.large {
    background-image: url(../img/off-on-2.png);
    background-color: #696969;
    background-repeat: no-repeat;
    /* width: 55px; */
    /* height: 18px; */
    /* border-radius: 10px; */
    width: 60px;
    height: 26px;
    border-radius: 20px;
    margin-left: 10px;
    display: inline-block;
    background-size: cover;
    cursor: pointer;
    margin-right: 9px;
    position: relative;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}
